<div class="panel panel-primary">
  <div class="panel-heading">
    Editing Driver
  </div>

  <div class="panel-body">
    <%= render 'form', driver: @driver %>
  </div>

  <div class="panel-footer">
    <%= link_to 'Show', @driver, class: 'btn btn-primary btn-sm' %> 
    <%= link_to 'Back', drivers_path, class: 'btn btn-primary btn-sm' %>
  </div>
</div>