<div class="box">
  <div class="box-header with-border">
    <h1>New Driver</h1>
  </div>

  <div class="box-body">
    <%= render 'form', driver: @driver %>
  </div>

  <div class="box-footer">
    <%= link_to 'Back', drivers_path %>
  </div>
</div>